// Media Query Mixins, have more in _mobile.scss
// extra Small
@mixin mediaXSm {
  @media screen and (max-width: 321px) {
    @content;
  }
}

// Media Query Mixins, have more in _mobile.scss
// Small
@mixin mediaSm {
    @media screen and (max-width: 500px) {
      @content;
    }
  }
  
  // Medium Ipad max
  @mixin mediaMd {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
  
  // Large Ipad pro
  @mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
      @content;
    }
  }
  
  // mac, normal laptop
  @mixin mediaLger {
    @media screen and (min-width: 1171px) and (max-width: 1440px) {
      @content;
    }
  }
  
  // Xtra Large
  @mixin mediaXL {
    @media screen and (min-width: 1441px) {
      @content;
    }
  }

  @mixin top{
    font-family: 'Roboto', sans-serif;
    height: 17rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../img/back.png);
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  @mixin logout-button{
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: 0.75rem;
    height: 2.5rem;
  }

  @mixin select-tag-arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 1px solid #dfdfdf;
    border-radius: 1px;
    margin-right: 1rem;
    padding: 0.5rem;
    padding-right: 2rem;
  }